  #nav-small-screen {
    display: none;
  }

  #nav-big-screen>button {
    margin-left: 1rem;
    margin-right: -1rem;
    align-items: end;
  }

  #nav-big-screen img {
    height: 50px;
  }

  @media(max-width: 720px) {
    #nav-small-screen {
      display: flex;
    }

    #nav-small-screen>* {
      flex: 1;
    }

    #nav-big-screen>button {
      display: none;
    }
  }

  mat-toolbar>span {
    margin-left: 1rem;
  }

  mat-toolbar>span:hover{
    cursor: pointer;
  }

  #main-content {
    margin-top: 1rem;
    margin-left: 1rem;
  }
