<mat-toolbar id="nav-big-screen" color="primary">
  <span routerLink="/dashboard">Tour of Heroes</span>
  <button mat-flat-button color="primary" routerLink="/dashboard">Dashboard</button>
  <button mat-flat-button color="primary" routerLink="/heroes">Heroes</button>
</mat-toolbar>
<mat-toolbar id="nav-small-screen" color="primary">
  <button mat-flat-button color="primary" routerLink="/dashboard">Dashboard</button>
  <button mat-flat-button color="primary" routerLink="/heroes">Heroes</button>
</mat-toolbar>

<div id="main-content">
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
